In [1]:
import pandas as pd
import datetime
import numpy as np
import scipy.stats
from math import log10 , floor

In [2]:
# result 구분
df = pd.read_excel('C:/Users/Jeongseok_Bang/OneDrive/바탕 화면/석사과정/FinLab/ESG/DF_최종_10_AV_result_2.xlsx', engine='openpyxl') #일자, 기업
df['일자'] = pd.to_datetime(df['일자']) # 날짜 형식 변경

In [3]:
################ 기사 수 분석########################
print('기사 수',df.shape[0])
esg_cate = df['ESG'].value_counts() 
esg_lst = esg_cate.index.to_list() # ESG 종류
print('기업종류', len(df['기업'].value_counts().index.to_list()))
print('ESG 종류', len(esg_lst))
# print('ESG 통계\n', esg_cate)

기사 수 1770
기업종류 198
ESG 종류 19

In [35]:
df.describe()

,중복 횟수,중복 횟수(10일),AV_VOL_TOT_-5_-4,AV_VOL_TOT_-3_-2,AV_VOL_TOT_-1_1,AV_VOL_TOT_2_3,AV_VOL_TOT_4_5,AV_VOL_IND_-5_-4,AV_VOL_IND_-3_-2,AV_VOL_IND_-1_1,...,TO_INS_-5_-4,TO_INS_-3_-2,TO_INS_-1_1,TO_INS_2_3,TO_INS_4_5,TO_FOR_-5_-4,TO_FOR_-3_-2,TO_FOR_-1_1,TO_FOR_2_3,TO_FOR_4_5
count,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,...,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000,1770.000000
mean,1.563277,3.609605,0.073683,0.012419,0.154555,0.137598,0.025376,0.141655,0.043614,0.244939,...,0.000002,0.000003,0.000088,0.000035,-0.000020,0.000054,0.000047,0.000166,0.000075,0.000002
std,3.684675,8.085161,2.208222,1.212085,1.630261,2.678576,1.455357,4.332687,1.590064,2.226617,...,0.000886,0.001062,0.001088,0.000893,0.000854,0.001399,0.001303,0.001981,0.001147,0.000930
min,0.000000,0.000000,-1.954256,-2.149591,-1.838210,-2.541216,-2.080066,-1.955470,-2.242236,-1.967012,...,-0.003257,-0.003070,-0.002721,-0.002334,-0.002481,-0.004389,-0.005618,-0.003680,-0.007167,-0.007008
25%,0.000000,0.000000,-0.426286,-0.412523,-0.383459,-0.414922,-0.454228,-0.490239,-0.467722,-0.438806,...,-0.000328,-0.000327,-0.000282,-0.000314,-0.000333,-0.000410,-0.000404,-0.000340,-0.000394,-0.000397
50%,0.000000,1.000000,-0.129570,-0.127993,-0.088956,-0.113982,-0.144211,-0.186190,-0.179061,-0.124481,...,-0.000094,-0.000089,-0.000074,-0.000087,-0.000103,-0.000110,-0.000094,-0.000073,-0.000093,-0.000110
75%,1.000000,4.000000,0.206390,0.190200,0.253311,0.203911,0.179269,0.217585,0.200645,0.280084,...,0.000155,0.000166,0.000215,0.000181,0.000131,0.000239,0.000223,0.000276,0.000249,0.000199
max,41.000000,106.000000,77.219907,23.974760,24.151539,89.718744,38.883073,173.924792,40.480139,40.952539,...,0.014462,0.027769,0.015926,0.013156,0.016718,0.031854,0.026872,0.054932,0.014013,0.007895

In [4]:
window = [(-5,-4),(-3,-2),(-1,1),(2,3),(4,5)]
initial = -5 
final = 5
period = 200 # 평균값을 계산하는 기간

In [5]:
# mean, t-test

def col_gen(ms, invs):
    col_temp = []
    for m in ms:
        for inv in invs:
            col_temp.append(m+'_'+inv)
    column = []
    for c in col_temp:
        for a,b in window:
            column.append(c+'_'+str(a)+'_'+str(b))
    return column

In [6]:
col_AV = col_gen(['AV_VOL', 'AV_VAL'],['TOT','IND', 'INS' ,'FOR'])
col_BSI = col_gen(['BSI'],['IND', 'INS' ,'FOR'])
col_TO = col_gen(['TO'],['TOT','IND', 'INS' ,'FOR'])

In [39]:
for col in col_AV:
    t_stat, p_value = scipy.stats.ttest_1samp(df[col], 0)
    print(col, '\n', 'mean:', round(df[col].mean(),5), 't-stats:', round(t_stat,5), 'p-value:', round(p_value,5))
print('\n')
for col in col_BSI:
    t_stat, p_value = scipy.stats.ttest_1samp(df[col], 0)
    print(col, '\n', 'mean:', round(df[col].mean(),5), 't-stats:', round(t_stat,5), 'p-value:', round(p_value,5))
print('\n')
for col in col_TO:
    t_stat, p_value = scipy.stats.ttest_1samp(df[col], 0)
    print(col, '\n', 'mean:', round(df[col].mean(),5), 't-stats:', round(t_stat,5), 'p-value:', round(p_value,5))

AV_VOL_TOT_-5_-4
 mean: 0.07368 t-stats: 1.40383 p-value: 0.16055
AV_VOL_TOT_-3_-2
 mean: 0.01242 t-stats: 0.43106 p-value: 0.66648
AV_VOL_TOT_-1_1
 mean: 0.15456 t-stats: 3.98853 p-value: 7e-05
AV_VOL_TOT_2_3
 mean: 0.1376 t-stats: 2.1612 p-value: 0.03081
AV_VOL_TOT_4_5
 mean: 0.02538 t-stats: 0.73356 p-value: 0.46331
AV_VOL_IND_-5_-4
 mean: 0.14165 t-stats: 1.3755 p-value: 0.16915
AV_VOL_IND_-3_-2
 mean: 0.04361 t-stats: 1.15397 p-value: 0.24867
AV_VOL_IND_-1_1
 mean: 0.24494 t-stats: 4.62807 p-value: 0.0
AV_VOL_IND_2_3
 mean: 0.24392 t-stats: 2.78805 p-value: 0.00536
AV_VOL_IND_4_5
 mean: 0.1025 t-stats: 2.21061 p-value: 0.02719
AV_VOL_INS_-5_-4
 mean: 0.0052 t-stats: 0.17661 p-value: 0.85983
AV_VOL_INS_-3_-2
 mean: -0.00318 t-stats: -0.11013 p-value: 0.91232
AV_VOL_INS_-1_1
 mean: 0.07303 t-stats: 2.59625 p-value: 0.0095
AV_VOL_INS_2_3
 mean: 0.08358 t-stats: 1.30029 p-value: 0.19367
AV_VOL_INS_4_5
 mean: 0.0011 t-stats: 0.02852 p-value: 0.97725
AV_VOL_FOR_-5_-4
 mean: 0.0229 t-stats: 0.90355 p-value: 0.36635
AV_VOL_FOR_-3_-2
 mean: 0.01729 t-stats: 0.65167 p-value: 0.5147
AV_VOL_FOR_-1_1
 mean: 0.09851 t-stats: 2.78401 p-value: 0.00543
AV_VOL_FOR_2_3
 mean: 0.04408 t-stats: 1.90688 p-value: 0.0567
AV_VOL_FOR_4_5
 mean: -0.02213 t-stats: -1.07826 p-value: 0.28106
AV_VAL_TOT_-5_-4
 mean: 0.09158 t-stats: 1.79132 p-value: 0.07341
AV_VAL_TOT_-3_-2
 mean: 0.02457 t-stats: 0.84229 p-value: 0.39974
AV_VAL_TOT_-1_1
 mean: 0.19681 t-stats: 4.20312 p-value: 3e-05
AV_VAL_TOT_2_3
 mean: 0.19255 t-stats: 2.13809 p-value: 0.03265
AV_VAL_TOT_4_5
 mean: 0.05855 t-stats: 1.37048 p-value: 0.17071
AV_VAL_IND_-5_-4
 mean: 0.15576 t-stats: 1.58946 p-value: 0.11213
AV_VAL_IND_-3_-2
 mean: 0.05446 t-stats: 1.40316 p-value: 0.16075
AV_VAL_IND_-1_1
 mean: 0.28589 t-stats: 4.80697 p-value: 0.0
AV_VAL_IND_2_3
 mean: 0.30236 t-stats: 2.53651 p-value: 0.01128
AV_VAL_IND_4_5
 mean: 0.13669 t-stats: 2.41563 p-value: 0.01581
AV_VAL_INS_-5_-4
 mean: 0.02486 t-stats: 0.84194 p-value: 0.39994
AV_VAL_INS_-3_-2
 mean: 0.00721 t-stats: 0.27944 p-value: 0.77994
AV_VAL_INS_-1_1
 mean: 0.10723 t-stats: 3.31286 p-value: 0.00094
AV_VAL_INS_2_3
 mean: 0.11786 t-stats: 1.71985 p-value: 0.08563
AV_VAL_INS_4_5
 mean: 0.0343 t-stats: 0.82452 p-value: 0.40976
AV_VAL_FOR_-5_-4
 mean: 0.04076 t-stats: 1.61443 p-value: 0.10661
AV_VAL_FOR_-3_-2
 mean: 0.03541 t-stats: 1.2205 p-value: 0.22244
AV_VAL_FOR_-1_1
 mean: 0.13331 t-stats: 3.327 p-value: 0.0009
AV_VAL_FOR_2_3
 mean: 0.07388 t-stats: 2.77024 p-value: 0.00566
AV_VAL_FOR_4_5
 mean: 0.00122 t-stats: 0.05405 p-value: 0.9569


BSI_IND_-5_-4
 mean: -0.00398 t-stats: -1.50638 p-value: 0.13215
BSI_IND_-3_-2
 mean: -0.00424 t-stats: -1.58611 p-value: 0.11289
BSI_IND_-1_1
 mean: -0.00556 t-stats: -2.3293 p-value: 0.01996
BSI_IND_2_3
 mean: -0.00016 t-stats: -0.0593 p-value: 0.95272
BSI_IND_4_5
 mean: -0.00337 t-stats: -1.27143 p-value: 0.20374
BSI_INS_-5_-4
 mean: -0.00557 t-stats: -1.41954 p-value: 0.15592
BSI_INS_-3_-2
 mean: -0.0087 t-stats: -2.21091 p-value: 0.02717
BSI_INS_-1_1
 mean: -0.00992 t-stats: -2.76212 p-value: 0.0058
BSI_INS_2_3
 mean: -0.0097 t-stats: -2.41746 p-value: 0.01573
BSI_INS_4_5
 mean: -0.01364 t-stats: -3.38273 p-value: 0.00073
BSI_FOR_-5_-4
 mean: -0.0026 t-stats: -0.83167 p-value: 0.40571
BSI_FOR_-3_-2
 mean: -0.00493 t-stats: -1.59548 p-value: 0.11078
BSI_FOR_-1_1
 mean: -0.00035 t-stats: -0.123 p-value: 0.90212
BSI_FOR_2_3
 mean: -0.00574 t-stats: -1.83406 p-value: 0.06681
BSI_FOR_4_5
 mean: -0.00363 t-stats: -1.16214 p-value: 0.24534


TO_TOT_-5_-4
 mean: 0.00071 t-stats: 1.41809 p-value: 0.15634
TO_TOT_-3_-2
 mean: -9e-05 t-stats: -0.41022 p-value: 0.6817
TO_TOT_-1_1
 mean: 0.00145 t-stats: 2.12132 p-value: 0.03403
TO_TOT_2_3
 mean: 0.00062 t-stats: 1.98582 p-value: 0.04721
TO_TOT_4_5
 mean: 0.00013 t-stats: 0.4548 p-value: 0.64931
TO_IND_-5_-4
 mean: 0.00063 t-stats: 1.37271 p-value: 0.17001
TO_IND_-3_-2
 mean: -0.00014 t-stats: -0.70745 p-value: 0.47938
TO_IND_-1_1
 mean: 0.0012 t-stats: 1.85178 p-value: 0.06422
TO_IND_2_3
 mean: 0.00052 t-stats: 1.83221 p-value: 0.06709
TO_IND_4_5
 mean: 0.00017 t-stats: 0.65131 p-value: 0.51493
TO_INS_-5_-4
 mean: 0.0 t-stats: 0.08523 p-value: 0.93209
TO_INS_-3_-2
 mean: 0.0 t-stats: 0.1207 p-value: 0.90394
TO_INS_-1_1
 mean: 9e-05 t-stats: 3.39511 p-value: 0.0007
TO_INS_2_3
 mean: 3e-05 t-stats: 1.64619 p-value: 0.0999
TO_INS_4_5
 mean: -2e-05 t-stats: -1.00624 p-value: 0.31444
TO_FOR_-5_-4
 mean: 5e-05 t-stats: 1.61218 p-value: 0.1071
TO_FOR_-3_-2
 mean: 5e-05 t-stats: 1.52663 p-value: 0.12703
TO_FOR_-1_1
 mean: 0.00017 t-stats: 3.51691 p-value: 0.00045
TO_FOR_2_3
 mean: 7e-05 t-stats: 2.7398 p-value: 0.00621
TO_FOR_4_5
 mean: 0.0 t-stats: 0.10867 p-value: 0.91347

# 엑셀로 정리

In [7]:
def col_gen_m(ms, invs):
    col_temp = []
    for m in ms:
        for inv in invs:
            col_temp.append(m+'_'+inv)
    return col_temp

In [8]:
col_m = col_gen_m(['AV_VOL', 'AV_VAL','BSI','TO'],['TOT','IND', 'INS' ,'FOR'])
col_m.remove('BSI_TOT')

In [9]:
col_m

['AV_VOL_TOT',
 'AV_VOL_IND',
 'AV_VOL_INS',
 'AV_VOL_FOR',
 'AV_VAL_TOT',
 'AV_VAL_IND',
 'AV_VAL_INS',
 'AV_VAL_FOR',
 'BSI_IND',
 'BSI_INS',
 'BSI_FOR',
 'TO_TOT',
 'TO_IND',
 'TO_INS',
 'TO_FOR']

In [46]:
df_result = []
for i in col_m: 
    ms_win = [] # AV_TOT_-5_0 등을 담는 list
    for a, b in window:
        ms_win.append(i+'_'+str(a)+'_'+str(b))
    
    ms_win_result = []
    for col in ms_win: 
        m= df[col].mean()
        if 'AV' in i: # Ab. vol.이면 t-test 대상은 1
            t_stat, p_value = scipy.stats.ttest_1samp(df[col], 0) ####################0인지 1인지####################
        else: # 그외 0
            t_stat, p_value = scipy.stats.ttest_1samp(df[col], 0)
        ms_win_result.append([m,t_stat, p_value])
    ms_win_result = np.array(ms_win_result)
    ms_win_result = np.transpose(ms_win_result)
    
    if i == col_m[0]:
        df_result = ms_win_result
    else:
        df_result = np.vstack((df_result,ms_win_result))
    

subcol = ['mean','t_stat','p_value']

index = pd.MultiIndex.from_product([col_m, subcol])
df_result = pd.DataFrame(df_result, index = index, columns = window)

df_result = []
for i in col_m: 
    ms_win = [] # AV_TOT_-5_0 등을 담는 list
    for a, b in window:
        ms_win.append(i+'_'+str(a)+'_'+str(b))
    
    ms_win_result = []
    for col in ms_win: 
        m= df[col].mean()
        if 'AV' in i: # Ab. vol.이면 t-test 대상은 1
            t_stat, p_value = scipy.stats.ttest_1samp(df[col], 0) ####################0인지 1인지####################
        else: # 그외 0
            t_stat, p_value = scipy.stats.ttest_1samp(df[col], 0)
        ms_win_result.extend([m,t_stat, p_value])
    df_result.append(ms_win_result)

subcol = ['mean','t_stat','p_value']

In [12]:
# 유효숫자 함수
def round_it(x, sig):
    return round(x, sig-int(floor(log10(abs(x))))-1)

df_result = []
for i in col_m: 
    ms_win = [] # AV_TOT_-5_0 등을 담는 list
    for a, b in window:
        ms_win.append(i+'_'+str(a)+'_'+str(b))
    
    ms_win_result = []
    for col in ms_win: 
        m= df[col].mean()
        if 'AV' in i: # Ab. vol.이면 t-test 대상은 1
            t_stat, p_value = scipy.stats.ttest_1samp(df[col], 0) ####################0인지 1인지####################
        else: # 그외 0
            t_stat, p_value = scipy.stats.ttest_1samp(df[col], 0)
        
        
        m=str(round_it(m,3))  # 유효숫자 3자리
        t_stat = '%.2f' % t_stat  # 소수점 둘째 자리

        if 0.05 <= p_value < 0.1:
            m = m+'*'
        elif 0.01 <= p_value < 0.05:
            m = m+'**'
        elif p_value < 0.01:
            m = m+'***'

        ms_win_result.append([m,t_stat])
    
    ms_win_result = np.array(ms_win_result)
    ms_win_result = np.transpose(ms_win_result)
    
    if i == col_m[0]:
        df_result = ms_win_result
    else:
        df_result = np.vstack((df_result,ms_win_result))
    

subcol = ['mean','t_stat']
index = pd.MultiIndex.from_product([col_m, subcol])
df_result = pd.DataFrame(df_result, index = index, columns = window)

In [13]:
df_result

                   (-5, -4)   (-3, -2)      (-1, 1)       (2, 3)      (4, 5)
AV_VOL_TOT mean      0.0737     0.0124     0.155***      0.138**      0.0254
           t_stat      1.40       0.43         3.99         2.16        0.73
AV_VOL_IND mean       0.142     0.0436     0.245***     0.244***     0.103**
           t_stat      1.38       1.15         4.63         2.79        2.21
AV_VOL_INS mean      0.0052   -0.00318     0.073***       0.0836      0.0011
           t_stat      0.18      -0.11         2.60         1.30        0.03
AV_VOL_FOR mean      0.0229     0.0173    0.0985***      0.0441*     -0.0221
           t_stat      0.90       0.65         2.78         1.91       -1.08
AV_VAL_TOT mean     0.0916*     0.0246     0.197***      0.193**      0.0585
           t_stat      1.79       0.84         4.20         2.14        1.37
AV_VAL_IND mean       0.156     0.0545     0.286***      0.302**     0.137**
           t_stat      1.59       1.40         4.81         2.54        2.42
AV_VAL_INS mean      0.0249    0.00721     0.107***       0.118*      0.0343
           t_stat      0.84       0.28         3.31         1.72        0.82
AV_VAL_FOR mean      0.0408     0.0354     0.133***    0.0739***     0.00122
           t_stat      1.61       1.22         3.33         2.77        0.05
BSI_IND    mean    -0.00398   -0.00424   -0.00556**    -0.000158    -0.00337
           t_stat     -1.51      -1.59        -2.33        -0.06       -1.27
BSI_INS    mean    -0.00557  -0.0087**  -0.00992***    -0.0097**  -0.0136***
           t_stat     -1.42      -2.21        -2.76        -2.42       -3.38
BSI_FOR    mean     -0.0026   -0.00493    -0.000346    -0.00574*    -0.00363
           t_stat     -0.83      -1.60        -0.12        -1.83       -1.16
TO_TOT     mean    0.000707  -9.18e-05    0.00145**   0.000618**    0.000131
           t_stat      1.42      -0.41         2.12         1.99        0.45
TO_IND     mean    0.000634  -0.000135      0.0012*    0.000524*    0.000171
           t_stat      1.37      -0.71         1.85         1.83        0.65
TO_INS     mean     1.8e-06   3.05e-06  8.78e-05***     3.5e-05*   -2.04e-05
           t_stat      0.09       0.12         3.40         1.65       -1.01
TO_FOR     mean    5.36e-05   4.73e-05  0.000166***  7.47e-05***     2.4e-06
           t_stat      1.61       1.53         3.52         2.74        0.11

In [15]:
df_result.to_excel('C:/Users/Jeongseok_Bang/OneDrive/바탕 화면/석사과정/FinLab/ESG/DF_최종_10_AV_t_test_2.xlsx')

In [18]:
############ 분류별 분석################


# col 전체
CARs = []
for i in col_m: 
    for a, b in window:
        CARs.append(i+'_'+str(a)+'_'+str(b))
        
index = ['mean','t_stat','p_value']
esg_cate = df['ESG'].value_counts() 
esg_lst = esg_cate.index.to_list() # ESG 종류
# esg_lst2 = ['tot']
# esg_lst2.extend(esg_lst)
esg_lst2 = ['환경오염','노동자','공급','소비자','부패','S','G']

# esg 중분류별 t-test
labor =['파업','산재','고용','임금','노동권'] 
supply = ['독과점','공급망','상생']
consumer = ['품질','개인정보','유해물질','광고']
corrupt =['비리','도덕성'] 
esg_mid = [['환경오염'],labor, supply, consumer, corrupt]
lst = []
for mid in esg_mid :
    for mi in mid:
        if mi == mid[0]:
            df_temp= df[df['ESG']==mi]
        else :
            df_temp = pd.concat([df_temp, df[df['ESG']==mi]],ignore_index=True)

    for car in CARs :
        m = df_temp[car].mean()
        t_stat, p_value = scipy.stats.ttest_1samp(df_temp[car], 0)
        lst_temp = [m, t_stat, p_value]
        lst.append(lst_temp)    

# esg 대분류별 test
Ss= ['파업','산재','고용','임금','노동권', '독과점','공급망','상생','품질','개인정보','유해물질','광고','성범죄'] 
Gs = ['비리','도덕성','경영권','불공정거래','분식회계']
# G2s = ['비리','도덕성','불공정거래','분식회계'] # 경영권 제외
esg_lg = [Ss, Gs]
for lg in esg_lg :
    for l in lg:
        if l == lg[0]:
            df_temp= df[df['ESG']==l]
        else :
            df_temp = pd.concat([df_temp, df[df['ESG']==l]],ignore_index=True)

    for car in CARs :
        m = df_temp[car].mean()
        t_stat, p_value = scipy.stats.ttest_1samp(df_temp[car], 0)
        lst_temp = [m, t_stat, p_value]
        lst.append(lst_temp)    

column = pd.MultiIndex.from_product([esg_lst2, CARs], names=['ESG세부', 'CAR'])
lst = np.array(lst)
lst = np.transpose(lst)
df_result_2 = pd.DataFrame(lst, columns=column, index=index)

In [19]:
df_result_2.to_excel('C:/Users/Jeongseok_Bang/OneDrive/바탕 화면/석사과정/FinLab/ESG/DF_최종_10_AV_t_test_3.xlsx')

mean 옆에 asterisk 붙여서 출력하기

In [16]:
df_result_3 = []

E =['환경오염']
S= ['파업','산재','고용','임금','노동권', '독과점','공급망','상생','품질','개인정보','유해물질','광고','성범죄'] 
G = ['비리','도덕성','경영권','불공정거래','분식회계']
ESG = [E,S,G]

def ESG(pillar):
    
    for l in pillar:
        if l == pillar[0]:
            df_temp= df[df['ESG']==l]
        else :
            df_temp = pd.concat([df_temp, df[df['ESG']==l]],ignore_index=True)

    # 유효숫자 함수
    def round_it(x, sig):
        return round(x, sig-int(floor(log10(abs(x))))-1)

    for i in col_m: 
        ms_win = [] # AV_TOT_-5_0 등을 담는 list
        for a, b in window:
            ms_win.append(i+'_'+str(a)+'_'+str(b))

        ms_win_result = []
        for col in ms_win: 
            m= df_temp[col].mean()
            if 'AV' in i: # Ab. vol.이면 t-test 대상은 1
                t_stat, p_value = scipy.stats.ttest_1samp(df_temp[col], 0) ####################0인지 1인지####################
            else: # 그외 0
                t_stat, p_value = scipy.stats.ttest_1samp(df_temp[col], 0)

            m=str(round_it(m,3)) # 유효숫자 3자리
            t_stat = '%.2f' % t_stat  # 소수점 둘째 자리

            if 0.05 <= p_value < 0.1:
                m = m+'*'
            elif 0.01 <= p_value < 0.05:
                m = m+'**'
            elif p_value < 0.01:
                m = m+'***'

            ms_win_result.append([m,t_stat])

        ms_win_result = np.array(ms_win_result)
        ms_win_result = np.transpose(ms_win_result)

        if i == col_m[0]:
            df_result_3 = ms_win_result
        else:
            df_result_3 = np.vstack((df_result_3,ms_win_result))

    subcol = ['mean','t_stat']
    column = pd.MultiIndex.from_product([col_m, subcol])
    df_result_3 = np.transpose(df_result_3)
    df_result_3 = pd.DataFrame(df_result_3, index = window, columns = column)

    return df_result_3
    
ESG(E).to_excel('C:/Users/Jeongseok_Bang/OneDrive/바탕 화면/석사과정/FinLab/ESG/DF_최종_10_AV_t_test_4_{}.xlsx'.format('E'))
ESG(S).to_excel('C:/Users/Jeongseok_Bang/OneDrive/바탕 화면/석사과정/FinLab/ESG/DF_최종_10_AV_t_test_4_{}.xlsx'.format('S'))
ESG(G).to_excel('C:/Users/Jeongseok_Bang/OneDrive/바탕 화면/석사과정/FinLab/ESG/DF_최종_10_AV_t_test_4_{}.xlsx'.format('G'))